*{
    margin: 0;
    padding: 0;box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372F0;
}
.container{
    width:690px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}
.wrapper{
    border: 1px solid #bbb;
    border-radius: 5px;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}
.text-input .to-text{
    border-left: 1px solid #bbb;
    border-radius: 0px;
}
.text-input textarea{
    height: 250px;
    width: 100%;
    border:none;
    outline:none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
    background: none;
}
.controls, li,.icons, .icons i{
    display: flex;
    list-style: none;
    padding:12px 15px;
    align-items: center;
    justify-content: space-between;

}
.controls{
    list-style: none;
    padding: 12px 15px;
}
.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}
.controls .row.to .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}
.controls .icons{
    width: 38%;
}
.controls .icons i{
    color:rgb(66, 168, 45);
    font-size: 14px;
    cursor: pointer;
    width: 50px;
    justify-content: center;
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.controls .exchange{
    color: aqua;
    font-size: 16px;
    cursor: pointer;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background: #5372F0;
}